# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [8]:
import pandas as pd
import numpy as np

# Seu código aqui

anomalia = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

AnomaliaSemIndex = pd.Series(anomalia)
AnomaliaSemIndex

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [9]:

# seu código aqui

AnomaliaComIndex = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02],
                             index = [1900, 1920, 1940, 1960, 1980, 2000, 2020])
AnomaliaComIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [10]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

dic_temperaturas = pd.Series(dic_temperaturas)
dic_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [17]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
DataFrame = pd.DataFrame(arr)
DataFrame

             0           1           2
0    99.260235   93.882313   91.482926
1    99.806620  110.629964   89.329374
2    76.769553   96.129783   92.434042
3    90.820637  100.814219  113.775422
4   100.691680  105.730614   99.204957
5    90.532166   96.428996   92.991153
6   112.581828   98.810422   98.899795
7   108.205369  109.596213   84.183089
8   103.991380   87.686534   95.178043
9    95.548817  109.777617  104.723312
10   96.698456   72.882269   99.536356
11  100.932376   92.348370  110.175681
12  110.852075  107.294026   87.374163
13  106.854701   92.691900   95.219153
14   80.306687  106.537353   87.979668
15  122.090172  103.079314  103.815731
16  110.909132  107.200436  116.233618
17  111.517987   89.750193   82.522559
18  111.040404   93.557285   87.554816
19  109.880894   99.379033   93.877665

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [18]:
#seu código aqui

DataFrame = pd.DataFrame(arr, index=range(1, 21), columns=['x1', 'x2', 'x3'])

print(DataFrame)

            x1          x2          x3
1    99.260235   93.882313   91.482926
2    99.806620  110.629964   89.329374
3    76.769553   96.129783   92.434042
4    90.820637  100.814219  113.775422
5   100.691680  105.730614   99.204957
6    90.532166   96.428996   92.991153
7   112.581828   98.810422   98.899795
8   108.205369  109.596213   84.183089
9   103.991380   87.686534   95.178043
10   95.548817  109.777617  104.723312
11   96.698456   72.882269   99.536356
12  100.932376   92.348370  110.175681
13  110.852075  107.294026   87.374163
14  106.854701   92.691900   95.219153
15   80.306687  106.537353   87.979668
16  122.090172  103.079314  103.815731
17  110.909132  107.200436  116.233618
18  111.517987   89.750193   82.522559
19  111.040404   93.557285   87.554816
20  109.880894   99.379033   93.877665

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [20]:
# seu código aqui
DataFrame['media'] = (DataFrame['x1'] + DataFrame['x2'] + DataFrame['x3']) / 3
DataFrame

            x1          x2          x3       media
1    99.260235   93.882313   91.482926   94.875158
2    99.806620  110.629964   89.329374   99.921986
3    76.769553   96.129783   92.434042   88.444459
4    90.820637  100.814219  113.775422  101.803426
5   100.691680  105.730614   99.204957  101.875750
6    90.532166   96.428996   92.991153   93.317438
7   112.581828   98.810422   98.899795  103.430682
8   108.205369  109.596213   84.183089  100.661557
9   103.991380   87.686534   95.178043   95.618652
10   95.548817  109.777617  104.723312  103.349915
11   96.698456   72.882269   99.536356   89.705694
12  100.932376   92.348370  110.175681  101.152143
13  110.852075  107.294026   87.374163  101.840088
14  106.854701   92.691900   95.219153   98.255251
15   80.306687  106.537353   87.979668   91.607903
16  122.090172  103.079314  103.815731  109.661739
17  110.909132  107.200436  116.233618  111.447729
18  111.517987   89.750193   82.522559   94.596913
19  111.040404   93.557285   87.554816   97.384168
20  109.880894   99.379033   93.877665  101.045864

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [21]:
# seu código aqui

DataFrame['log_med'] = np.log(DataFrame.mean(axis=1))
DataFrame

            x1          x2          x3       media   log_med
1    99.260235   93.882313   91.482926   94.875158  4.552562
2    99.806620  110.629964   89.329374   99.921986  4.604390
3    76.769553   96.129783   92.434042   88.444459  4.482375
4    90.820637  100.814219  113.775422  101.803426  4.623044
5   100.691680  105.730614   99.204957  101.875750  4.623754
6    90.532166   96.428996   92.991153   93.317438  4.536007
7   112.581828   98.810422   98.899795  103.430682  4.638902
8   108.205369  109.596213   84.183089  100.661557  4.611764
9   103.991380   87.686534   95.178043   95.618652  4.560368
10   95.548817  109.777617  104.723312  103.349915  4.638120
11   96.698456   72.882269   99.536356   89.705694  4.496534
12  100.932376   92.348370  110.175681  101.152143  4.616626
13  110.852075  107.294026   87.374163  101.840088  4.623404
14  106.854701   92.691900   95.219153   98.255251  4.587569
15   80.306687  106.537353   87.979668   91.607903  4.517518
16  122.090172  103.079314  103.815731  109.661739  4.697401
17  110.909132  107.200436  116.233618  111.447729  4.713556
18  111.517987   89.750193   82.522559   94.596913  4.549625
19  111.040404   93.557285   87.554816   97.384168  4.578664
20  109.880894   99.379033   93.877665  101.045864  4.615575